<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/reading_style.css" type="text/css" />
		<title>myReadingList!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/books.js"></script> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

		
	</head>
	<h1 style="color:white;font-family: 'Playfair Display',serif;font-size:50px;">myReadingList</h1>

	<body>
		{{{ body }}}
	</body>
</html>